<!--内容3-->
<nav class="nav contant3">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-11 col-sm-11">
                <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">

                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">
                            <h4 id="info">请输入栏目名称</h4>
                            <input-file></input-file>
                            <!--<div class="input-file">
                                <label for="input2"></label>
                                <input type="file" id="input2">
                            </div>-->
                        </div>

                </div>
            </div>
            <div class="col-md-1 col-sm-1">
                <nav id="navbar-example2" class="navbar nav-side">

                    <div class="timeline-wrap clearfix">
                        <span class="circle top"></span>
                        <span class="circle bottom"></span>
                        <ul class="nav navbar-nav time-line">
                            <li class=""><a data-target="#info1">请输入栏目名称</a></li>

                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</nav>